@page "/"
@page "/home"
@page "/main"
@page "/index"

@inject UserInfo userInfo

<PageTitle>Главная</PageTitle>
<div class="row justify-content-center">
</div>

<div class="col-md-10">
    <ArticleLidsContainer themeNumber="0" />

</div>

@code{

    protected override void OnInitialized()
    {
        Console.WriteLine($"Index OnInitialized******************: {userInfo.LoginName}\n{userInfo.SessionId}\n{userInfo.UserId}\n{userInfo.Token}");
    }

}